$font-family-museo-900: 'Museo Sans Cyrl 900', sans-serif;
$font-family-museo-700: 'Museo Sans Cyrl 700', sans-serif;
$font-family-museo-500: 'Museo Sans Cyrl 500', sans-serif;
$font-family-museo-100: 'Museo Sans Cyrl 100', sans-serif;
$font-family-opens: 'Open Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$white-color: #ffffff;
$yellow-color: #ffc400;
$blue-color: #1697f5;
$black-color-14: #0e1a36;
$black-color-40: #282828;
$black-color-29: #1d2131;
$black-color-12: #0c112f;
$black-color-17: #111b19;
$black-color: #000000;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 36px;